<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Aluno</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Novo Aluno</h1>
    <form action="/alunos" method="POST">
        <label for="nome">Nome do Aluno:</label>
        <input type="text" id="nome" name="nome">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
